**bisect**

In [1]:
# 保持序列插入
import bisect
import random

my_list = []
for i in range(10):
    num = random.randint(1, 10)
    bisect.insort(my_list, num)
    print(num, my_list)

10 [10]
9 [9, 10]
4 [4, 9, 10]
4 [4, 4, 9, 10]
2 [2, 4, 4, 9, 10]
10 [2, 4, 4, 9, 10, 10]
4 [2, 4, 4, 4, 9, 10, 10]
1 [1, 2, 4, 4, 4, 9, 10, 10]
2 [1, 2, 2, 4, 4, 4, 9, 10, 10]
3 [1, 2, 2, 3, 4, 4, 4, 9, 10, 10]

**函数**

In [5]:
def func(a, b=2):
    pass

In [6]:
print(func.__code__.co_varnames)

('a', 'b')

In [13]:
# 函数注解
def func2(a: str, b: 'int>10' = 100) -> int:
    return b

In [12]:
func2.__annotations__

{'a': str, 'b': 'int>10', 'return': int}

In [16]:
from operator import mul
from functools import partial

print(mul(5, 2))
# partial 复制函数,并固定参数,使新函数变成传参更少的函数
mul2 = partial(mul, 5)
print(mul2(3))

10
15

**引用**
+ 垃圾回收:每个对象都会统计有多少引用指向自己。 当引用计数归零时， 对象立即就被销毁
+ del 不删除对象， 而是删除对象的引用

In [1]:
# Python对不可变类型施加的把戏，str、 bytes 和 frozenset 实例也有这种行为
t1 = (1, 2, 3)
t2 = tuple(t1)

In [2]:
t2 is t1

True

In [3]:
t3 = t1[:]
t3 is t1

True

In [4]:
t1 = 'sss'
print(id(t1))
t2 = str(t1)
print(id(t2))

1464348489240
1464348489240

In [1]:
t1 = (1, 2, 3)
t2 = (1, 2, 3)
print(id(t1))
print(id(t2))
t1 = 'abc'
t2 = 'abc'
print(id(t1))
print(id(t2))

2384778880560
2384796720224
2384691657168
2384691657168